.card-report-table {
    .report-table {
        width: calc(100% + 30px);
        margin: 20px -15px;
        border-collapse: collapse;

        @media (max-width: 550px) {
            width: 100%;
            margin: 20px 0;
        }

        .report-table-header {
            height: 30px;
            @media (max-width: 850px) {
                display: none;
            }

            th {
                text-align: left;
                font-weight: bold;
                font-size: 14px;
                line-height: 18px;
                letter-spacing: 0.2px;
                color: #000000;
                &:first-child {
                    padding-left: 15px;
                }
                &:last-child {
                    padding-right: 15px;
                }
                @media (max-width: 850px) {
                    padding: 7px!important;
                }
            }
        }

        .report-table-row {
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.2px;
            color: #252733;
            cursor: pointer;
            height: 50px;
            border-top: 1px solid #DFE0EB;
            transition: 200ms;

            @media (max-width: 850px) {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                height: unset;
                padding: 15px;
            }

            td {
                &:first-child {
                    padding-left: 15px;
                }
                &:last-child {
                    padding-right: 15px;
                }
                @media (max-width: 850px) {
                    padding: 7px!important;
                }
            }

            &:last-child {
                border-bottom: 1px solid #DFE0EB;
            }

            &:hover {
                background-color: #F7F8FF;
            }
            .type {
                @media (max-width: 550px) {
                    color: #838383;
                }
            }

            .date {
                @media (max-width: 550px) {
                    font-style: italic;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 20px;
                    letter-spacing: 0.2px;
                    color: #838383;
                }
            }

            .status {
                padding: 5px 10px;
                width: 90px;
                border-radius: 100px;
                text-align: center;
                color: #fff;
                text-transform: uppercase;

                &__error {
                    background-color: #F12B2C;
                }

                &__progress {
                    background-color: #F1A22B;
                }

                &__done {
                    background-color: #29CC97;
                }
            }

            .icon-box {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 45px;

                @media (max-width: 850px) {
                    height: 30px;
                }

                .icon-trash {
                    cursor: pointer;
                    width: 24px;
                    height: 24px;
                    background-image: url("../../assets/trash.svg");
                }

                &:hover .icon-trash {
                    background-image: url("../../assets/trash__red.svg");
                }
            }
        }
    }
}